body {
  background-color: rgba(8, 212, 164, 0.681);
  font-family: Arial;
}

h1 {
  color: rgb(0, 0, 0);
}

img {
  width: 300px;
}
.badalona-img {
  width: 500px;
}
.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.galeria img {
  width: 100%;
}